<?xml version="1.0" encoding="UTF-8"?>
<assembly>
  <id>config</id>
  <includeBaseDirectory>false</includeBaseDirectory>
  <formats>
    <format>jar</format>
  </formats>
  <fileSets>
    <fileSet>
      <directory>src/main/config</directory>
      <outputDirectory></outputDirectory>
      <includes>
        <include>**</include>
      </includes>
      <excludes>
        <exclude>modules/centralized-webapp-logging.mod</exclude>
      </excludes>
    </fileSet>
  </fileSets>
  <files>
    <file>
      <source>src/main/config/modules/centralized-webapp-logging.mod</source>
      <outputDirectory>/modules/</outputDirectory>
      <filtered>true</filtered>
    </file>
  </files>
</assembly>
